div.forDirective {
    padding: 5px;
    margin: 4px;
    border : 4px solid #0E2C4B;
    border-radius: 5px;
    width: 50%;
  }
  table {
      border-collapse: collapse;
      width: 100%;
  }
  th, td {  padding: 10px; text-align: left; border-bottom: 3px solid #ddd; }
  tr:hover {background-color: rgb(173, 165, 162);}
  th { color: #fff; background-color: hsl(210, 69%, 17%); }
  .one { border-top-left-radius: 4px; }
  .two { border-top-right-radius: 4px; }