
<!-- ****** Concept of ngFor Directive ****** -->
<div class="forDirective">
    <h1>Concept of ngFor Directive</h1>
    <table>
    <thead>
    <tr><th class="one">ID</th> <th>FirstName</th> <th>DOB</th> <th>Gender</th> <th class="two">CourseFee</th></tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of students">
    <td>{{data.ID}}</td>
    <td>{{data.FirstName}}</td>
    <td>{{data.DOB}}</td>
    <td>{{data.Gender}}</td>
    <td>{{data.CourseFee}}</td>
    </tr>
    <tr *ngIf="!students || students.length==0">
    <td colspan="5">No Students to Display</td>
    </tr>
    </tbody>
    </table>
    </div>
    <p>directive works!</p>