<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
    <ul class="navbar-nav">
    <li class="nav-item">
    <button class="nav-link active" type="button" class="btn btn-primary" routerLink="home">Home</button>
    </li>
    <li class="nav-item">
    <button type="button" class="btn btn-secondary" routerLink="student">AG-Grid</button>
    </li>
    <li class="nav-item">
    <button type="button" class="btn btn-secondary" routerLink="bindings">Data Bindings</button>
    </li>
    <li class="nav-item">
    <button type="button" class="btn btn-secondary" routerLink="interface">Interface</button>
    </li>
    <li class="nav-item">
    <button type="button" class="btn btn-secondary" routerLink="directive">Directives</button>
    </li>
    <li class="nav-item">
    <button type="button" class="btn btn-secondary" routerLink="single">Singleton Service</button>
    </li>
    <li class="nav-item">
    <button type="button" class="btn btn-secondary" routerLink="">Button 2</button>
    </li>
    <li class="nav-item">
    <button type="button" class="btn btn-secondary" routerLink="">Button 3</button>
    </li>
    <li class="nav-item">
    <button type="button" class="btn btn-secondary" routerLink="">Button 4</button>
    </li>
    <li class="nav-item">
    <button type="button" class="btn btn-secondary" routerLink="">Button 5</button>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Disabled</a>
    </li>
    <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
    </li>
    </ul>
    </div>
    </nav>
<router-outlet></router-outlet>