.colorClass { color : red; }

table {
    border-collapse: collapse;
  width: 50%;
}
th, td {  padding: 10px; text-align: left; border-bottom: 3px solid #ddd; }
tr:hover {background-color: rgb(173, 165, 162);}
th { color: #fff; background-color: hsl(210, 69%, 17%); }
.one { border-top-left-radius: 4px; }
.two { border-top-right-radius: 4px; }

 