<!-- ***** Routing Section ***** -->
<button type="button" class="btn btn-primary" routerLink="">Home</button>
<button type="button" class="btn btn-secondary" routerLink="student">Student Component</button>
<router-outlet></router-outlet>


<!-- ****** Concept of Data Bindings ****** -->
<div class="bindings">
<h1>Concept of Data Bindings by Balu</h1>
<button type="button" class="btn btn-primary" (click)="onClick2()" style="color : black;">Click Here</button>
<button type="button" class="btn btn-primary" (click)="onClick()" [ngStyle]="titleStyles">Click Here</button>
<br>
<label for="fname">Enter Your Text Here : </label>
<input type="text" placeholder="Enter Text Here" [(ngModel)]="userText"/>
<p>{{userText}}</p>
</div>
 


<!-- ****** Concept of ngFor Directive ****** -->
<div class="forDirective">
<h1>Concept of ngFor Directive</h1>
<table>
<thead>
<tr><th class="one">ID</th> <th>FirstName</th> <th>DOB</th> <th>Gender</th> <th class="two">CourseFee</th></tr>
</thead>
<tbody>
<tr *ngFor="let data of students">
<td>{{data.ID}}</td>
<td>{{data.FirstName}}</td>
<td>{{data.DOB}}</td>
<td>{{data.Gender}}</td>
<td>{{data.CourseFee}}</td>
</tr>
<tr *ngIf="!students || students.length==0">
<td colspan="5">No Students to Display</td>
</tr>
</tbody>
</table>
</div>







