h1 { background-color:  red;}
img {
    position : fixed;
    left : 50px;
    bottom: -20px;
}
div.admin {
    width: 800px;
    height: 500px;
    background-color: blue;
}
a { text-decoration: none;}